@model IEnumerable<SkyAirlines.Models.Manifest>

@{
    ViewData["Title"] = "Passenger Manifests";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="glyphicon glyphicon-plus"></i> Create New</a>
</p>
<p>Type something in the input field to search the table by first names, last names or seat:</p>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Airport)
            </th>
            <th>Tasks</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var manifest in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => manifest.Flight.FlightPrefix)-@Html.DisplayFor(modelItem => manifest.Flight.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => manifest.Passenger.LastName),
                    @Html.DisplayFor(modelItem => manifest.Passenger.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => manifest.Seat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => manifest.Flight.Airport.AirportName)
                    (@Html.DisplayFor(modelItem => manifest.Flight.Airport.AirportCode))
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=manifest.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {
                        fltPrefix = manifest.FlightPrefix,
                        fltID = manifest.FlightId,
                        paxID = manifest.PassengerId
                    }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=manifest.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>For now, each passenger is on a different manifest.</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
